main {
  text-align:center;
  background-color: var(--clr-white);
  min-height: 100vw;
  display:flex;
  justify-content: center;
}

.user-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 0px;
  color: #373C47;
  /* margin: 0 auto; */
  width: 90vw;
 margin-left: 10px;
margin-right: 10px;
}

/* @media (min-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
@media (min-width: 900px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
} */

.user-item {
  background-color: #E2E9F9;
  /* padding: 10px;
  text-align: center; */
  border-radius: 10px;
  position: relative;
  max-width: var(--fixed-width);
  height: 150px;
  box-shadow: var(--light-shadow);
  display: grid;
  /* grid-template-columns: 30px 200px; */
  gap:10px;
}
.user-item section{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.user-item:hover{
    transform: scale(1.1);
    z-index: 100;
    outline: 1px solid #b6bbc8;
}
.user-item img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: var(--light-shadow);
}
.user-item article {
  display: block;
}
.user-item h4 {
  margin-bottom: 0.35rem;
}
.user-item p {
  margin-bottom: 0;
  margin-top: 0;
  font-size:small;
}
.user-item button {
  border-radius: 5px;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  border-style: none;
  color: #385170;
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 100;
  background-color: transparent;
}

.user-item button:hover {
  transform: scale(1.5);
}
.btn-wrap{
display: flex;
justify-content: center;
}
.btn {
  color: #373C47;
  border-color: transparent;
  background: #E2E9F9;
  margin: 2rem auto 0 auto;
  text-transform: capitalize;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  letter-spacing: var(--spacing);
  border-radius: var(--radius);
  outline: 1px solid #E2E9F9;
  cursor: pointer;
  box-shadow: var(--light-shadow);
}
.characteristics-wrap {
display:grid;
grid-template-columns: repeat(2, 60px);
column-gap:10px;
row-gap: 5px;
grid-column: 1 / span 2;
grid-row: 2;
justify-content: center;
padding-bottom: 40px;
}
.characteristics{
/* box-shadow: var(--light-shadow); */
border-radius: 25px;
color:#87A0CE;
display: flex;
justify-content: center;
align-items: center;
outline: 1px solid #bdc3d2;
}