main {
  text-align:center;
  background-color: var(--clr-white);
  display:flex;
  justify-content: center;
}

.user-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  padding: 0px;
  color: #373C47;
}

@media only screen and (max-width: 700px) and (min-width: 500px) {
  .user-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 900px) and (min-width: 700px) {
  .user-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
    }

@media only screen and (max-width: 1300px) and (min-width: 900px) {
  .user-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1300px) {
  .user-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.user {
  background-color: var(--clr-ice);
  border-radius: 10px;
  position: relative;
  max-width: var(--fixed-width);
  height: 150px;
  box-shadow: var(--light-shadow);
  display: grid;
  gap:10px;
}
.user-section{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.user:hover{
  transform: scale(1.1);
  z-index: 100;
  outline: 1px solid #b6bbc8;
}
.user-img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: var(--light-shadow);
}
.user-details {
  display: block;
}
.user h4 {
  margin-bottom: 0.35rem;
}
.user p {
  margin-bottom: 0;
  margin-top: 0;
  font-size:small;
}
.user-remove-btn {
  border-radius: 5px;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  border-style: none;
  color: #385170;
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 100;
  background-color: transparent;
}

.user-remove-btn:hover {
  transform: scale(1.5);
}
.btn-wrap{
display: flex;
justify-content: center;
}
.btn {
  color: #373C47;
  border-color: transparent;
  background-color: var(--clr-ice);
  margin: 2rem auto 0 auto;
  text-transform: capitalize;
  font-size: 1rem;
  padding: 0.5rem 0;
  letter-spacing: var(--spacing);
  border-radius: var(--radius);
  outline: 1px solid #E2E9F9;
  cursor: pointer;
  box-shadow: var(--light-shadow);
}
.user-characteristics {
display:grid;
grid-template-columns: repeat(2, 60px);
column-gap:10px;
row-gap: 5px;
grid-column: 1 / span 2;
grid-row: 2;
justify-content: center;
padding-bottom: 40px;
}
.user-characteristic{
border-radius: 25px;
color:#87A0CE;
display: flex;
justify-content: center;
align-items: center;
outline: 1px solid #bdc3d2;
}
.main-title{
  background-color: var(--clr-ice);
  border-radius: 5px;
  box-shadow: var(--light-shadow);
}